.todoContainer{
	width: 100%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(62, 62, 62, 0.7);
	margin-bottom: 20px;
	border-radius: 20px;
}
.todo{
	display: flex;
	align-items: center;
}